header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

body {
    background-color:aliceblue;
}

.header {
    background-color: #1F2937;
    height: 500px;
    margin-bottom: 400px;
    

}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



ul {
    display: flex;
    list-style-type: none;
    
    
    
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
    display: inline-block;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition: all .5s;
}

li a:hover::after{
    width: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 500px;
    align-items: center;
    margin: auto;

}

.header-left {
    display:flex;
    flex-direction: column;
    margin: 20px;
}

.header-left h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin-left: 0;

}

.header-left p {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    
}

.header-right {
    display: flex;
    height: 200px;
}

button{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    align-self: flex-start;
    font-size: 12px;
  }

.information {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    width: 70%;
    height: 500px
}

.information .info-header {
    font-size: 36px;
    color: #1F2937;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}


.container {
    display: flex;
    gap: 52px;
  }
  
.container img {
    width: 200px;
}

.container .text {
    font-size: 14px;

}


.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin: 100px auto;  
    border-radius: 25px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    width: 50%;

}

.quote h1 {
    float: right;
    font-size: 28px;
 
}

.action {
    background-color: #3882f6;
    width: 70%;
    height: 300px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;

    
}

.action .text {
    color:#E5E7EB;
    margin: auto;
}

.action .signup {
    font-size: 12px;
    margin: auto;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 40px;
    
}

.footer h4 {
    color:#E5E7EB;
}